<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=ENI_Enchere</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">Pa$$w0rd</property>
		<property name="hibernate.show_sql">true</property>
<!--	<property name="hibernate.hbm2ddl.auto">validate</property> -->
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="fr.eni.enienchere.bo.User"/>
		<mapping class="fr.eni.enienchere.bo.Category"/>
		<mapping class="fr.eni.enienchere.bo.Article"/>
		<mapping class="fr.eni.enienchere.bo.Auction"/>
		<mapping class="fr.eni.enienchere.bo.PickUp"/>
	</session-factory>
</hibernate-configuration>